.versionDetail {
    margin: 0 auto;
}

.song-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-version {
    align-self: flex-start;
}

.artist-image {
   align-self: flex-end;
}

img {
    width: 200px;
    height: auto;
}

#audioPlayer {
    width: 250px;
}

#audioPlayer:focus {
    outline: none;
}

/* Upload Spinner */

.loader {
  border: 8px solid #CDAB7C; /* Light grey */
  border-top: 8px solid #273644; /* Blue */
  border-bottom: 8px solid #273644; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 0 auto 10px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}