#songSetupForm {
    max-width: 375px;
    margin: auto;
}

#songSetupForm input {
    border-top: none;
    border-left: none;
    border-right: none;
}

#songSetupBtn {
    float: right;
}

textarea {
    margin-bottom: 5px;
    border-top: none;
}